<div class="w3-twothird">
    <form>
        <div class="form-group col-6">
            <label for="campo1">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="entidad2.campo1" name="campo1" placeholder="Ingresar nombre de materia">
        </div>
        <div class="form-group col-6">
            <label for="campo2">Cuatrimestre</label>
            <input type="number" class="form-control" [(ngModel)]="entidad2.campo2" name="campo2" placeholder="Ingresar cuatrimestre" min="1" max="2" >
        </div>
        <div class="form-group col-6">
            <label for="campo3">Cupos</label>
            <input type="number" class="form-control" [(ngModel)]="entidad2.campo3" name="campo3" placeholder="Ingresar cupos" min="1" max="50" >
        </div>
        <div class="col-7">
            <label for="tipos">Profesor</label>
            <select id="campo4" class="form-control col-lg-10" [(ngModel)]="entidad2.campo4" name="campo4">
                <option [value]="item.campo1" *ngFor="let item of arrayEntidad1Campo1">{{item.campo1}}</option>
            </select>
        <div class="col-6">
            <label for="foto">Cargar Foto</label>
            <input type="file" name="" id="" (change)="onFileSelected($event)">
        </div>
        </div>
        <div class="form-group col-4" style="margin-top: 2%;">
            <button type="button" class="btn btn-primary" (click) = "altaEntidad2()">Dar de alta</button>
        </div>
    </form>
</div>