<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>
<app-mail></app-mail>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Cerrar Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Facultad</b><br>Administrador</h3>
  </div>
  <div class="w3-bar-block">
    <a href="/admin/{{idAdmin}}#altaMateria" class="w3-bar-item w3-button w3-hover-white">Alta de materia</a> 
    <a href="/admin/{{idAdmin}}#listadoMaterias" class="w3-bar-item w3-button w3-hover-white">Ver listado de materias</a> 
    <a href="/admin/{{idAdmin}}#detalleMaterias" class="w3-bar-item w3-button w3-hover-white">Ver detalle de materias</a> 
    <a href="/admin/{{idAdmin}}#listadoUsuarios" class="w3-bar-item w3-button w3-hover-white">Ver listado de usuarios</a> 
  </div>
  <div class="w3-container" style="margin-top: 80%;"> 
      <a class="w3-bar-item w3-button w3-hover-white" (click) = "cerrarSesion()"><b>Cerrar Sesion</b></a>
  </div>
</nav>

<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px">
    <h1 class="w3-jumbo"><b>Gestor de materias</b></h1>    
  </div>
  
  <!-- Alta de materias-->
  <div class="w3-row-padding" id="altaMateria">
    <h1 class="w3-xxxlarge w3-text-red"><b>Alta de Materia</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

    <app-alta-entidad2 (nuevaMateria) = "recibeNuevaMateria($event)"></app-alta-entidad2>
    
  </div>

  <!-- Listado de materias -->
  <div class="w3-container" id="listadoMaterias" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Listado de materias</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

    <app-listado-entidad2 [listadoEntidades2] = "listadoEnt2"></app-listado-entidad2>
   
  </div>

    <!-- Detalle de materias -->
  <div class="w3-container" id="detalleMaterias" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Detalle de materias</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

    <app-detalle-materia [listadoMaterias] = "listadoEnt2"></app-detalle-materia>
   
  </div>

  
  
  <!-- Listado de usuarios -->
  <div class="w3-container" id="listadoUsuarios" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Listado de usuarios</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

    <app-listado-entidad1 [listadoEntidades] = "listaEntidades" (filtroSeleccionado) = "recibeFiltroEntidades($event)"></app-listado-entidad1>

  </div>
</div>

</body>
</html>
