<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cuatrimestre</th>
            <th scope="col">Cupo</th>
            <th scope="col">Profesor</th>
            <th scope="col">Inscribirse</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listadoEntidades2">
            <th scope="row">{{item.campo1}}</th>
            <td>{{item.campo2}}</td>
            <td>{{item.campo3}}</td>
            <td>{{item.campo4}}</td>
            <td><button type="button" (click) ="altaEntidad1_2(item.id)" id="btnInscripcion">Inscribirse</button></td>
        </tr>
    </tbody>
</table>