<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div class="col-4">
        <h3>Filtrar por: </h3>
    </div>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option1" autocomplete="off" (click)="filtrarEntidades('todos')"> Todos
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off" (click)="filtrarEntidades('administrador')"> Administrador
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off" (click)="filtrarEntidades('profesor')"> Profesor
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option4" autocomplete="off" (click)="filtrarEntidades('alumno')"> Alumno
    </label>
</div>

<table class="table" style="margin-top: 2%;">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Mail</th>
            <th scope="col">Tipo Usuario</th>
            <th scope="col">Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listadoEntidades">
            <th scope="row">{{item.id}}</th>
            <td>{{item.campo1}}</td>
            <td>{{item.campo3}}</td>
            <td> <img src="{{item.campo4}}" alt="" width="40" height="40"> </td>
        </tr>
    </tbody>
</table>