<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Cerrar Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Facultad</b><br>Alumno</h3>
  </div>
  <div class="w3-bar-block">
    <a href="/e1Item2#inscripcion" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Inscripción</a> 
    <a href="/e1Item2#listadoMaterias" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Ver materias en curso</a> 
  </div>
</nav>

<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px">
    <h1 class="w3-jumbo"><b>Gestor de materias</b></h1>    
  </div>
  
  <!-- Inscripcion-->
  <div class="w3-row-padding" id="inscripcion">
    <h1 class="w3-xxxlarge w3-text-red"><b>Inscripción</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

    <app-alta-entidad1-entidad2></app-alta-entidad1-entidad2>

  </div>

  <!-- Listado de materias -->
  <div class="w3-container" id="listadoMaterias" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Listado de materias en curso</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

    <app-listado-entidad1-entidad2></app-listado-entidad1-entidad2>
   
  </div>
</div>

</body>
</html>

